<!DOCTYPE html>
<html>
<head>
    <title>{{.Msong}} - {{.Msinger}}</title>
</head>
<body>
<center>
<audio controls autoplay>
    <source src="{{.SongId}}" type="audio/mpeg">
</audio>
</center>
</body></html>